<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <settings>
        &lt;!&ndash;设置mybatis输出日志&ndash;&gt;
        <setting name="logImpl" value="STDOUT_LOGGING"></setting>
    </settings>-->

    <!--设置别名-->
    <typeAliases>
        <!--实体类所在的包名-->
        <package name="com.cheungz.domain"/>
    </typeAliases>

    <!--mapper(sql映射文件)的位置-->
    <mappers>
        <!--一个mapper标签指定一个文件的位置
        从类路径开始的路径信息，编译过后的target/classes(类路径)-->
        <package name="com.cheungz.dao"/>
    </mappers>
</configuration>
